#bg-video{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: -1;
}

#main-text{
    font-family: 'Anton', sans-serif;
    opacity: 0.8;
    color : #2b85a0;

    -webkit-text-stroke: 0.5px #e8e8e8;

    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);    

    h1{
        font-size: clamp(60px,10vw,175px); 
        margin-bottom: 2px;
    }

    h2{ 
        font-size: clamp(20px,5vw,50px); 
        margin-left: 20px; 
        margin-top: 0px; 
        margin-bottom: 2px;
    }

    h3{
        font-size: clamp(15px,3vw,25px); 
        margin-left: 20px; 
        margin-top: 0px;
    }

    text-shadow: 2.5px 2.5px 5px black;

    h{
        font-size: clamp(15px,3vw,25px);
    }
}

#pages-text{
    font-family: 'Anton', sans-serif; 
    opacity: 0.85;

    -webkit-text-stroke: 0.5px #c4930d;

    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    
    text-shadow: 2.5px 2.5px 5px black;
}

#project-text{
    font-family: 'Anton', sans-serif; 
    opacity: 0.85;

    -webkit-text-stroke: 0.5px #c4320d;

    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    
    text-shadow: 2.5px 2.5px 5px black;
}

#content{
    display: flex;
}

.left{
    flex: 2;
    min-width: 0;
}

.right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -47px;
    flex: 1;
}

.bubbles{
    padding: 20px; 
    opacity: 0.85;

    border:2px solid rgba(255,255,255,.8);

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.common{
    background-color: #c4930d;
    border-radius: 15px; 
}

.project{
    background-color: #c4320d;
    border-radius: 15px; 
}

.project-2{
    background-color: #3F33B6;
    border-radius: 20px;
}

.project-3{
    background-color: #9670f0;
}

.button-2{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3F33B6;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;

    margin-left: 7px;
    margin-right: 7px;

    opacity: 0.85;

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-2:hover{
    background-color: #272197;

    opacity: 0.85;

    border:2px solid rgba(255,255,255,.8);

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-3{
    display: inline-block;
    padding: 10px 20px;
    background-color: #9670f0;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;

    margin-left: 7px;
    margin-right: 7px;

    opacity: 0.85;

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-3:hover{
    background-color: #7e5ed1;

    opacity: 0.85;

    border:2px solid rgba(255,255,255,.8);

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-in{
    display: inline-block;
    padding: 10px 20px;
    background-color: #2b85a0;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;

    margin-left: 7px;
    margin-right: 7px;

    opacity: 0.85;

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-in:hover{
    background-color: #137381;

    opacity: 0.85;

    border:2px solid rgba(255,255,255,.8);

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #c4930d;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;

    margin-left: 7px;
    margin-right: 7px;

    opacity: 0.85;

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-a-c{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #AC8100;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;

    margin-left: 7px;
    margin-right: 7px;

    opacity: 0.85;

    border:2px solid rgba(196,147,13,.8);

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-a:hover{
    background-color: #AC8100;

    opacity: 0.85;

    border:2px solid rgba(255,255,255,.8);

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-p{
    display: inline-block;
    padding: 10px 20px;
    background-color: #c4320d;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;

    margin-left: 7px;
    margin-right: 7px;

    opacity: 0.85;

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-p-c{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #AC2000;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;

    margin-left: 7px;
    margin-right: 7px;

    opacity: 0.85;

    border:2px solid rgba(172,32,18,.8);

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button-p:hover{
    background-color: #AC2000;

    opacity: 0.85;

    border:2px solid rgba(255,255,255,.8);

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);    
}

.button-pro{
    width: 60px; 
    height: 60px;

    margin-left: 10px;
    margin-right: 10px;

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);  
}

.button-pro:hover{
    width: 60px; 
    height: 60px;

    border:2px solid rgba(255,255,255,.8);

    box-shadow:
        0 0 8px rgba(255,255,255,.35);

    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);      
}

.media{
    box-shadow:
        2.5px 2.5px 5px rgba(0,0,0,.4);
}